* {
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
  font-family: monospace;
    font-size: 1.125rem;
    margin: 0 auto;
    min-height: 100vh;
    background-color: rgb(242, 249, 241);
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgb(235, 234, 240);
}

h1 {
  margin: 0;
  color: chartreuse;
  padding: .1em 0;
  padding-inline-start: .5em;
  background-color: black;
}

.intro-wrap {
  position: relative;
  height: 85vh;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

canvas {
  height: 100%;
  width: 100%;
  border-right: 2.5em solid #66bb11;
}

.link {
  padding: 1em;
  color: rgb(15, 225, 53);
  font-size: 1.8em;
  background-color: transparent;
  /**/
  transition-duration: .5s;
}

.insta {
  transform: rotateZ(-24deg);
}

.contact {
  transition-duration: .5s;
  transform: translateX(7px) translateY(-50px) rotateZ(17deg);
}

.link:active {
  transform: translateX(7px) translateY(-50px) translateZ(-4px);
}

.intro-wrap > nav {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(48, 47, 47);
}

.nav-list {
  padding: 2em;
  color: greenyellow;
  list-style-type: none;
}

li {
  position: relative;
  line-height: 1.5em;
  cursor: pointer;
  transition-duration: .3s;
  width: fit-content;
}

li:hover {
  text-decoration: underline;
  background: blue;
  color:white;
  width: 100%;
}

.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: #66bb11;
  color: #3b3838;
  padding: 10px;
  margin-top: .1em;
  box-shadow: inset .2em .4em .5em -6px blue;
}

.ticker-content {
  display: inline-block;
  animation: ticker-scroll 15s linear infinite;
}


@keyframes ticker-scroll {
  0% { transform: translateX(200%); }
  100% { transform: translateX(-100%); }
}

.content-wrap {
  position: relative;
  padding-inline-start: 4em;
  padding-inline-end: 4em;
  padding-top: 3em;
  background-color: transparent;
  box-shadow: inset .2em .4em .5em -6px blue;
}

.content-wrap::before {
  content: '';
  position: absolute;
  inset: 0;
  background:repeating-linear-gradient(0.25turn, blue, white 2px, white 10px, blue 1px);
  z-index: -1;
  opacity: 0.1;
}

.flex-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  padding-inline-start: 1em;
}

.left, .right {
  display: inline-block;
  padding-top: 1em;
  color: blue;
}

.project-title{
  position: relative;
  margin: 1em 0 0 0;
  font-size: 3em;
}

.project-title::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateX(3em) translateY(-1.5em);
  background-color: rgb(121, 202, 23);
  border-radius: 50%;
  z-index: -1;
}

.project-title::after {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateX(8em) translateY(-2.5em);
  background-color: rgb(121, 202, 23);
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  z-index: -1;
}

.project-list {
  color: blue;
  padding: 16px;
}

/**/
.grid-container {
  column-count: 3; /* Adjust the number of columns as needed */
  column-gap: 16px;
  padding: 16px;
}

.grid-item {
  break-inside: avoid; 
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px; /* Apply border-radius to the image */
}

@media (max-width: 600px) {
  .grid-container {
    column-count: 1; /* Change to a single column on small screens */
  }
}

/**/
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-container .row {
  /* display: flex;
  width: 100%; */
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container .row img {
  /* width: calc(50% - 10px);
  margin: 5px; */
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .image-container .row img {
    width: calc(33.33% - 10px);
  }
}

.text {
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-left: 1em solid #66bb11;
  padding-left: 1em;
}

.img-wrap {
  background-color: #fff;
  border: .2em solid #1515d8;
}

.img-wrap img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.img-wrap:nth-child(3n) {
  grid-row: span 2;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: fit-content;
  width: 100%;
  line-height: 2.2em;
  text-align: center;
  background-color: black;
  color: #66bb11;
  font-size: 1.2em;
}