:root {
  /* primary colors*/
  --bg-primary: white;
  --bg-secondary: black;

  /*elements*/
  --elements-primary: chartreuse;

  /*text*/
  --text-primary: black;

  /*design*/
  --box-shadow: inset .2em .4em .5em -6px blue;

  /*projects*/
  --projects-branding: blue;
  --projects-posters: yellow;
  --projects-packaging: pink;
  --projects-books: orange;
  --projects-murals: red;
  --projects-typography: skyblue;
}

* {
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
  font-family: monospace;
    font-size: 1.125rem;
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

img {
  margin: 0;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  padding-inline-start: .5em;
  padding-inline-end: 1em;
  background-color: black;
}

h1 {
  margin: 0;
  color: var(--elements-primary);
  padding: .1em 0;
}

.back-to-top {
  font-size: 2em;
  color: var(--elements-primary);
  background-color: var(--bg-secondary);
}

.hidden {
  display: none;
}

.intro-wrap {
  position: relative;
  height: 85vh;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

canvas {
  height: 100%;
  width: 100%;
  border-right: 2.5em solid var(--elements-primary);
}

.link {
  padding: 1em;
  /* color: rgb(15, 225, 53); */
  color: black;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1.8em;
  background-color: transparent;
  /**/
  transition-duration: .5s;
}

.insta {
  transform: rotateZ(-24deg);
}

.contact {
  transition-duration: .5s;
  transform: translateX(7px) translateY(-50px) rotateZ(17deg);
}

.link:active {
  transform: translateX(7px) translateY(-50px) translateZ(-4px);
}



.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: #66bb11;
  color: #3b3838;
  padding: 10px;
  margin-top: .1em;
  box-shadow: var(--box-shadow);
}

.ticker-content {
  display: inline-block;
  animation: ticker-scroll 15s linear infinite;
}


@keyframes ticker-scroll {
  0% { transform: translateX(200%); }
  100% { transform: translateX(-100%); }
}

.content-wrap {
  position: relative;
  padding-inline-start: 4em;
  padding-inline-end: 4em;
  padding-top: 3em;
  background-color: transparent;
  /* box-shadow: inset .2em .4em .5em -6px blue; */
}

.desktop {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 2em;
}

/* .content-wrap::before {
  content: '';
  position: absolute;
  inset: 0;
  background:repeating-linear-gradient(0.25turn, blue, white 2px, white 10px, blue 1px);
  z-index: -1;
  opacity: 0.1;
} */

.heading {
  position: relative;
  margin: 0;
  text-align: end;
}

.heading::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateX(3em) translateY(-1.5em);
  background-color: rgb(121, 202, 23);
  border-radius: 50%;
  z-index: -1;
}

.heading::after {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateX(8em) translateY(-2.5em);
  background-color: rgb(121, 202, 23);
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  z-index: -1;
}

.project {
  height: 6em;
  font-size: 1.5rem;
  border: 1px solid blue;
  overflow: hidden;
}

.active {
  height: 90vh;
  overflow: scroll;
}

.flex-menu {
  display: flex;
  justify-content: space-between;
}

.btn {
  all: unset;
  text-align: center;
  padding: 1.5em 0;
  cursor: pointer;
  width: 100%;
}

.project__desc {
  width: 50%;
}

.project__img-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.project__wrap.mobile > .project__img-wrap {
  grid-template-columns: 1fr;
}

.project__select {
  transition-duration: .7s;
}

.project__title:hover {
  border-radius: 0 12em 12em 0;
}

.btn:first-of-type:hover {
  background-color: var(--projects-branding);
}

.btn:nth-of-type(2) > .project__title:hover{
  background-color: var(--projects-posters);
}

.btn:nth-of-type(3) > .project__title:hover{
  background-color: var(--projects-packaging);
}

.btn:nth-of-type(4) > .project__title:hover{
  background-color: var(--projects-books);
}

.btn:nth-of-type(5) > .project__title:hover{
  background-color: var(--projects-murals);
}

.about {
  margin: 3em 0;
  padding: 0 4em;
}

footer {
  display: block;
  /* position: fixed; */
  bottom: 0;
  z-index: 10;
  height: fit-content;
  width: 100%;
  line-height: 2.2em;
  text-align: center;
  background-color: black;
  color: #66bb11;
  font-size: 1.2em;
}


@media (max-width: 768px) {
  
  .flex-menu {
    flex-direction: column;
  }

  .content-wrap, .about {
    padding-inline-start: 2em;
    padding-inline-end: 2em;
  }

  .project-container {
    grid-template-columns: 1fr;
  }

  .project-wrap {
    transform: scale(1.1);
  }
}